* {
    bg0: #15130b66;
    bg1: #221f1766;
    bg2: #1d1b1366;
    fg0: #e8e2d4;
    fg1: #cdc6b4;

    red: #ffb4ab;
    green: #d1c6a1;
    yellow: #a9d0b3;
    blue: #dbc66e;
    purple: #dbc66e;
    aqua: #534600;
    highlight: #dbc66e33;
}
