* {
    bg0: #13140d66;
    bg1: #1f201966;
    bg2: #1b1c1566;
    fg0: #e4e3d7;
    fg1: #c7c8b8;

    red: #ffb4ab;
    green: #c4caa9;
    yellow: #a1d0c5;
    blue: #bdce80;
    purple: #bdce80;
    aqua: #3f4c0b;
}
